/venv/
/Archive/
/data/
/__pycache__/
/app/__pycache__/
/app/__pycache__/data.cpython-38.pyc
__pycache__
/export/*.csv
/export/
/tree.rtf
/tree.txt
/env/
/email_data/send_info/*.csv
/email_data/attachments/
/__pycache__/
