<html>

<body>
    <p>Hello {{name}},</p>
    <p>I am reaching out because it appears you are {{progress}} in the CPR/First Aid class which is scheduled to close {{closing_date}}. If you have not registered yet your link is: <br> <a href="{{link}}">{{link}}</a><br>
    <p>If you have already registered with that link you can log in and complete the course. A reminder of the steps you'll need to follow:</p>
    <ol>
        <li>
            Register with link above. Check your email for a confirmation message with your username and login instructions. After registration you will no longer need the link.
        </li>
        <li>
            Use the "forgot password" prompt at www.redcrosslearningcenter.org to set your password for the first time. Use the login button in the top right of the home page to view the forgot password option.
        </li>
        <li>Usernames are typically the email address used. If this is not the case use the "forgot username" option on the login page.</li>
        <li>
            Log in to begin working on the course.
        </li>
    </ol>
    <p>
        Once finished you will get a temporary certificate indicating the online courses are completed. You do not need to send this in as we can track progress independently. 
    </p>
    <p>Please complete this as soon as possible.</p>
    <p> Let me know if you have any questions,</p>
    <p>Matthias Austin <br>Training Coordinator</p>
    <p>DS Training Team <br>Volunteers of America Western Washington | voaww.org<br> maustin@voaww.org | training@voaww.org</p>
    <p style="font-size: .5em;">This e-mail is meant for only the intended recipient, and may be a communication privileged by law. If you received this e-mail in error, any review, use, dissemination, distribution, or copying of this e-mail is strictly prohibited - please notify us immediately of the error and please delete this message from your system. Thank you.</p>
</body>

</html>
