<html>

<body>
    <p>Hello {{name}},</p>
    <p>This message is a reminder to complete the pre-class components of our virtual Peer Coaching course.</p>
    <p>Our live session on Zoom is this Monday (3/15) from 10:00 am to 3:00 pm.</p>
    <p>Zoom Link: <a href="https://us02web.zoom.us/j/81665112026">https://us02web.zoom.us/j/81665112026</a> <br> <em>No Password required</em></p>
    <p><strong>Come prepared to be seen on camera and heard by the rest of the class. This zoom session will include group discussions and breakout rooms and requires all students participate.</strong></p>
    <p>Review the email sent March 10th at 10:00 am for more detail.</p>
    <p>Reply to this message with any questions,</p>
    <p></p>
</body>

</html>
