<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">

<body>
    <p>Hello {{name}},</p>
    <p>You have been signed up for our March Peer Coaching class. This course will be run virtually and includes independent work before and after the course's live session.</p>
    <h4>Before Class</h4>
    <p> As of now you have enrolled in an online course at www.dstrainings.com. There you will find all the information you need to get started with the course. This will include:</p>
    <ul>
        <li>Briefly reviewing the current Peer Coaching checklist</li>
        <li>Start planning a SMART goal for yourself</li>
        <li>Reviewing all other portions of the pre-class section including a survey and discussion question</li>
        <li>Making a plan for Monday, 3/15 so you can fully participate in class</li>
    </ul>
    <h4>Logging in to DS Trainings</h4>
    <p>To get started follow the instructions below:</p>
    <ol>
        <li><a href="www.dstrainings.com">Go to www.dstrainings.com</a></li>
        <li>Log in
            <ul>
                <li>Username: {{username}} (First Initial.Last Name)</li>
                <li>Temporary Password: {{password}} (Tip: record your new password!)</li>
            </ul>
        </li>
        <li>Go through the short site orientation.
            <ul>
                <li>Explore a little bit.</li>
                <li>Navigate to the March Peer Coaching Class</li>
            </ul>
        </li>
        <li>Complete the section titled "Pre-Class"</li>
    </ol>
    <h4>Live Class</h4>
    <p> All students will join a live class via Zoom (link below) on Monday, 3/15/2021. If you do not attend this virtual class you cannot complete the course. The live session starts at 10:00 am and will finished around 3:00 pm or earlier.</p>
    <p>Zoom Link: <a href="https://us02web.zoom.us/j/81665112026">https://us02web.zoom.us/j/81665112026</a> <br><em>No Password required</em></p>
    <p><strong>Come prepared to be seen on camera and heard by the rest of the class. This zoom session will include group discussions and breakout rooms and requires all students participate.</strong></p>
    <h4>After Class</h4>
    <p> After the live class is finished all students will be given some tasks to complete over the following two weeks. These tasks will include some reflection questions as well as preparation and planning for your new coaching role. This will be discussed in more detail during the class.</p>
    <p>Attached you will find some of the core materials we will use throughout the course. I have requested your supervisor provide a printed copy to you if desired. Please contact them before Friday if you would like a printed copy.</p>
    <p>If you have any questions or difficulty getting started please reply to this email!</p>
</body>

</html>
