<html>

<body>
    <p>Hello {{name}},</p>

    <p>Thank you for attending the class on Monday. I hope it was helpful.</p>
    <p>You've been tasked with completing some asignments online at <a href="www.dstrainings.com">www.dstrainings.com</a>. It looks like</p>
    <p> This is just a quick reminder that all of the components need to be completed no later than April 5th.</p>
    <p>If you have any questions about the material or what you need to complete, please let me know!</p>
</body>

</html>
